	/*background-size:38px 210px;
	background-repeat:no-repeat;display:inline-block;height:20px;width:20px
	border-bottom-right-radius: 8px;
	https://static.xx.fbcdn.net/rsrc.php/v3/y8/r/fX6o7UQiYdO.png
	https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/KEYiZVUaJS1.png
*/

body{
	background-color: #242325;
	box-sizing:none;
    margin-left: 0px;
    margin-right: 0px;
}


.b-black{
	background-color: #242325;
}

.logo-size{
	width: 40px;
	height: 40px;
	margin-left: 15px;
}

.img-size{
	width: 100px;
	height: 160px;
	border-radius: 5px;
	background-repeat: no-repeat;
	margin-right: 4px;
	margin-bottom: 10px;
	margin-left: 4px;
	float: left;
}


nav{
	height: 60px;
	padding-top: 8px;
	padding-left: 20px;
}

form{
	justify-content: none;
	margin-left: 12px;
	padding-bottom: 0px;"
}

#search{
	border-radius: 30px;
	border-width: 0px;
	padding-top: 9px;
	padding-left: 9px;
	padding-bottom: 9px;
	padding-right: 2rem;
	width: 220px;
}

#textbox{
	border-radius: 30px;
	border-width: 0px;
	width: 400px;
	height: 40px;
	padding-left: 20px;
}

.column-m{
	max-width: 800px;
}

.ml-10{
	margin-left: 10px;
}

.ml-16{
	margin-left: 16px;
}

.ml-30{
	margin-left: 30px;
}

.mr-10{
	margin-right: 10px;
}

.mr-16{
	margin-right: 16px;
}

.mr-30{
	margin-right: 60px;
}

.mb-24{
	margin-bottom: 24px;
}

.p-none{
	padding-inline-start: 0px;
}

.img-spn{
	width: 100px;
	height: 100px;
	border-radius: 3px;
	margin-bottom: 24px;
}

.d-none{
	display: none;
}

.d-inline{
	display: inline;
}

.f-right{
	float: right;
}

.p-aline{
	mix-blend-mode: difference;
	position: relative;
	padding-top: 20px;
}

.t-mute{
	color: #E2E2E2;
	font-size: 16.5px;
	font-weight: 600;
	font-family: 'Inconsolata', monospace;
	font-family: 'Nunito Sans', sans-serif;
}

.prof-img{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin: 10px;
}

.img-feed{
	width: 530px;
	height: 350px;
	margin-left: 0px;
	margin-top: 20px;
}

.pf-size{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-repeat: no-repeat;
}

.mr-10{
	margin-right: 10px;
}

.f-xl{
	font-size: xx-large;
}

.b-width{
	width: 160px;
	float: left;
}

.b{
	border: 0px;
	border-color: none;
}

.cl-w{
	color: #EFEFEF;
}

.of-y{
	overflow-y: scroll;
	overflow-y-color: #747373;
}


.p1{
	position: fixed;
	display: inline-block;
	margin-left: 0px;
	margin-right: 0px;
    padding-left: 0px;
    left: 0px;
}

.p2{
	position: sticky;
	display: inline-block;
	margin-left: 400px;
	margin-right: 0px;
    padding-left: 0px;
    left: 0px;
}

.p3{
	position: fixed;
	display: inline-block;
	margin-left: 1120px;
    padding-right: 0px;
    right: 0px;
}